{{define "layout"}}
{{/* define berfungsi untuk memberi nama dari template,ketika memanggil template tidak perlu include ekstensi file tersebut */}}
{{template "header" .}}
{{/* memanggil template header sebagai layout */}}
<h1>Name : {{.Name}}</h1>
{{template "footer"}}
{{end}}

{{define "test"}}
<h1>Test {{.Address}}</h1>
{{end}}

{{define "Func"}}
{{template "header" .}}
{{/* memanggil template header sebagai layout */}}
<h1>Name : {{.Name}}</h1>
{{template "footer"}}
{{end}}